body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.top-nav {
  /* width: 96vw; */
  /* border-left: 1% solid white; */
  margin: 0 2px;
}

.header {
  /* border-left: 10px solid white; */
  background-color: #ffbe24;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding: 15px 20px;
  /* width: 100vw; */
  margin: 0;
}

/** 
 * =============
 * NAV
 * ============= */

.nav-left {
  /* border: 1px solid red; */
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 16px 10px;
  /* margin: 0 10px; */
}

.nav {
  display: none;
  flex-direction: row;
  align-items: center;
  /* margin: 0; */
  padding-left: 0;
  text-transform: uppercase;
  z-index: 0;
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    /* margin: 0; */
  }
}

ul {
  list-style: none;
}

.nav li {
  font-size: 13px;
  margin: 0 15px;
  cursor: pointer;
}

.nav-right {
  /* border: 1px solid white; */
  align-items: flex-end;
  align-content: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  text-decoration: none;
  list-style-type: none;
  padding: auto 20px;
}

.hamburger-menu {
  display: block; /* display:none starts to show up with responsive */
  cursor: pointer;
}

@media (min-width: 800px) {
  .hamburger-menu {
    display: none;
  }
}

.main-img {
  display: grid;
  width: 100vw;
  /* margin: 0 2% 0 2%; */
  z-index: 0;
}

.hero-image {
  /* background-color: rgba(0, 0, 0, 0.5); */
  filter: brightness(60%);
  max-height: 300px;
  /* margin: 0 2%; */
  width: 100vw;
  z-index: 0;
}

@media (min-width: 350px) {
  .hero-img {
    background-size: cover;
  }
}

/* ******** ASIDE GRID ******** */
/* ******** ASIDE GRID ******** */
/* ******** ASIDE GRID ******** */
/* ******** ASIDE GRID ******** */

.aside {
  /* background-image: url("img/slate02.png") alt= "slate background texture"; */
  border: 5px dashed fuchsia;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 6px 0px;
  grid-template-areas:
    "book-cover"
    "review-1"
    "review-2"
    "blog-post1"
    "blog-post2"
    "blog-post3";
  margin: 0;
  height: auto;
  /* position: fixed; */
  width: 40%;
}
.panel-right {
  border: 3px dotted green;
  /* display: flex;
  flex-direction: column; */
  height: auto;
  position: relative;
  width: 40%;
  z-index: 1;
}

/* ******** THIS IS THE SLATE TEXTURE ********   */
.panel-right img {
  /* border: 10px solid aqua; */
  /* border: 4px solid green; */
  /* background-image: url("img/slate02.png") alt= "slate background texture"; */
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  position: relative;
  width: 100%;
  /* z-index: -10000;  */
}

.panel-right .cover img {
  /* border: 5px solid yellow; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  margin: -75px 15% 50px 15%;
  /* margin-left: 15%; */
  /* margin-bottom: 50px; */
  /* margin-right: 15%; */
  max-width: 70%;
  /* object-fit: cover; */
  position: absolute;
  z-index: 2;
}

.cover {
  grid-area: book-cover;
}

.review-1 {
  border: 1px solid black;
  font-size: 14px;
  grid-area: review-1;
  position: absolute;
  width: 80%;
}

.review-2 {
  border: 1px solid red;
  font-size: 14px;
  grid-area: review-2;
  position: absolute;
  width: 80%;
}

.blog-post1 {
  grid-area: blog-post1;
}

.blog-post2 {
  grid-area: blog-post2;
}

.blog-post3 {
  grid-area: blog-post3;
}

/* .sidenav > img {
  border: 1px solid blue;
  height: auto;
  top: 0;
  left: 0;
  margin: 0 1%;
  position: relative;
  width: auto;
} */

/* .panel-right-container {
  align-content: stretch;
  background-image: url("img/slate02.png") alt= "slate background texture";
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
  object-fit: cover;
  position: relative;
  width: 100%;
} */

.sidenav .review-1 h5 {
  font-size: 18px;
  color: gold;
  position: absolute;
  width: 35%;
  z-index: 100;
}

.sidenav .review-1 p {
  color: lime;
  /* display: flex; */
  /* flex-direction: columns; */
  font-size: 18px;
  /* z-index: 100; */
}

.sidenav .review-2 h5 {
  font-size: 18px;
  color: gold;
  /* z-index: 10000; */
}

.sidenav .review-2 p {
  color: lime;
  width: 80%;
  /* margin: 10px; */
  /* z-index: 10000; */
}

/* **************************** */
/*  ******** MAIN GRID ******** */
/* **************************** */
/* **************************** */
/* **************************** */
/* **************************** */
/* **************************** */

.grid-container {
  border: 1px dashed blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.1fr 0.9fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "recipe1 recipe2 recipe3"
    "tips-tricks4 tips-tricks5 tips-tricks6"
    "products7 products8 products9";
  margin-left: 40%;
}

.recipe1 {
  border: 5px solid palevioletred;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "recipe-photo-1 recipe-photo-1 recipe-photo-1"
    "recipe-text1 recipe-text1 recipe-text1";
  grid-area: recipe1;
}

.recipe-photo-1 {
  grid-area: recipe-photo-1;
}

.recipe-text1 {
  grid-area: recipe-text1;
}

.recipe2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "recipe-photo2 recipe-photo2 recipe-photo2"
    "recipe-text2 recipe-text2 recipe-text2";
  grid-area: recipe2;
}

.recipe-photo2 {
  grid-area: recipe-photo2;
}

.recipe-text2 {
  grid-area: recipe-text2;
}

.recipe3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "recipe-photo3 recipe-photo3 recipe-photo3"
    "recipe-text3 recipe-text3 recipe-text3";
  grid-area: recipe3;
}

.recipe-photo3 {
  grid-area: recipe-photo3;
}

.recipe-text3 {
  grid-area: recipe-text3;
}

.tips-tricks4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "tips-text4 tips-text4 tips-text4"
    "tips-text4 tips-text4 tips-text4";
  grid-area: tips-tricks4;
}

.tips-text4 {
  grid-area: tips-text4;
}

.tips-tricks5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "tips-text5 tips-text5 tips-text5"
    "tips-text5 tips-text5 tips-text5";
  grid-area: tips-tricks5;
}

.tips-text5 {
  grid-area: tips-text5;
}

.tips-tricks6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "tips-text6 tips-text6 tips-text6"
    "tips-text6 tips-text6 tips-text6";
  grid-area: tips-tricks6;
}

.tips-text6 {
  grid-area: tips-text6;
}

.products7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "tips-text7 tips-text7 tips-text7"
    "tips-text7 tips-text7 tips-text7";
  grid-area: products7;
}

.tips-text7 {
  grid-area: tips-text7;
}

.products8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "tips-text8 tips-text8 tips-text8"
    "tips-text8 tips-text8 tips-text8";
  grid-area: products8;
}

.tips-text8 {
  grid-area: tips-text8;
}

.products9 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "tips-text9 tips-text9 tips-text9"
    "tips-text9 tips-text9 tips-text9";
  grid-area: products9;
}

.tips-text9 {
  grid-area: tips-text9;
}
